doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="keywords",content=project.keywords)
    meta(name="description",content=project.desc)
    title=project.title
    
    link(rel="stylesheet",type="text/css",href="/statics/css/project.css" )
    - var l = 0
    while l++ < (project.links?project.links.length:0)
      link(rel="stylesheet",type="text/css",href=project.links[l-1] )
    style.
      #scroller{
        height: #{project.pageHtmls.length*100}%
      }
      .slide{
        height: #{Math.round(100000/project.pageHtmls.length)/1000}%
      }
    style!=project.css

  body(onload="loaded()")
    #wrapper
      #scroller
        - var i = 0
        while i++ < project.pageHtmls.length
          if(project.pageHtmls[i-1])
            div(class="slide page"+i)!=project.pageHtmls[i-1]
          else
            div(class="slide page"+i)
              .title='the '+i+'th page'  

    script(src="/statics/js/view-all.js")
      
