doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="keywords",content=project.keywords)
    meta(name="description",content=project.desc)
    title=project.title
    
    link(rel="stylesheet",type="text/css",href="/statics/css/project.css" )
    style.
      #scroller{
        height: #{project.pageHtmls.length*100}%
      }
      .slide{
        height: #{Math.round(100000/project.pageHtmls.length)/1000}%
      }
    style!=project.css

  body(onload="loaded()")
    #wrapper
      #scroller
        - var i = 0
        while i++ < project.pageHtmls.length
          if(project.pageHtmls[i-1])
            div(class="slide page"+i)!=project.pageHtmls[i-1]
          else
            div(class="slide page"+i)
              .title='the '+i+'th page'  

    script(src="/statics/js/zepto.min.js")
    script(src="/statics/js/iscroll.js")

    script.
      var myScroll;
      function loaded () {
        myScroll = new IScroll('#wrapper', {
          scrollX: false,
          scrollY: true,
          momentum: false,
          snap: true,
          snapSpeed: 400
        });
      }
      document.addEventListener('touchmove', function (e) { 
        e.preventDefault(); 
      }, false);

      $('[data-goto]').on('click touchstart',function(e){
        setTimeout(function(){
          myScroll.goToPage(0,parseInt($(e.srcElement).attr('data-goto')));
        },1);
      });

