doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="keywords",content=project.keywords)
    meta(name="description",content=project.desc)
    title=project.title
    
    link(rel="stylesheet",type="text/css",href="/statics/css/project.css" )
    style.
      #scroller{
        height: #{project.pageCount*100}%
      }
      .slide{
        height: #{Math.round(100000/project.pageCount)/1000}%
      }
    style!=project.css

  body(onload="loaded()")
    #wrapper
      #scroller
        - var i = 0
        while i++ < project.pageCount
          if(project.pages[i-1])
            div(class="slide page"+i)!=project.pages[i-1]
          else
            div(class="slide page"+i)
              .title='第'+i+'屏'  

    script(src="/statics/js/zepto.min.js")
    script(src="/statics/js/iscroll.js")

    script.
      var myScroll;
      function loaded () {
        myScroll = new IScroll('#wrapper', {
          scrollX: false,
          scrollY: true,
          momentum: false,
          snap: true,
          snapSpeed: 400
        });
      }
      document.addEventListener('touchmove', function (e) { 
        e.preventDefault(); 
      }, false);

      $('[data-goto]').on('click touchstart',function(){
        myScroll.goToPage(0,parseInt($(this).attr('data-goto')));
      });

